<%- include('../layouts/layout', { body: `
  <section class="text-center py-5">
    <h1 class="display-4 fw-bold">How We Partner</h1>
    <p class="lead mb-4">
      At S&M Creative, we collaborate closely with our clients to understand their unique goals and challenges. Here's our process:
    </p>
    <div class="container text-center">
      <img src="/images/sm-creative-cycle.png" class="img-fluid" alt="sm-creative-cycle" style="max-height: 400px; object-fit: contain;" loading="lazy">
    </div>
    <a href="/get-started" class="btn btn-outline-success">Get Started</a>
  </section>
` }) %>
