<%- include('../layouts/layout', { body: `
    <section class="text-center py-5">
      <h1 class="display-4 fw-bold">Our Packages and Pricelist</h1>
      <p class="lead mb-4">
        Explore our service packages designed to help your businesses scale and multiply achieving digital success.
      </p>
      <div class="container py-3">
        <main>
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <!-- Free Package -->
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-success">
                <div class="card-header py-3 text-bg-success border-success">
                  <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Rp0<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-group text-start list-unstyled mt-3 mb-4">
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>For businesses with fewer than 5 staff members.</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Must be operational for less than 1 year</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Comprehensive Start-Up Assistance</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Business Strategy Support</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Community Access</li>
                  </ul>
                  <a href="/get-started" class="w-100 btn btn-lg btn-outline-success">Contact Us</a>
                </div>
              </div>
            </div>
            <!-- Pay As You Can Package -->
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-success">
                <div class="card-header py-3 text-bg-success border-success">
                  <h4 class="my-0 fw-normal">Pay As You Can</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">RpFlexible<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-group text-start list-unstyled mt-3 mb-4">
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>For businesses with 6-10 staff members.</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Must be operational for less than 2 years</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Comprehensive Start-Up Assistance</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Business Strategy Support</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Community Access</li>
                  </ul>
                  <a href="/get-started" class="w-100 btn btn-lg btn-outline-success">Contact Us</a>
                </div>
              </div>
            </div>
            <!-- Enterprise Package -->
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-success">
                <div class="card-header py-3 text-bg-success border-success">
                  <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Rp750,000<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-group text-start list-unstyled mt-3 mb-4">
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>For businesses with more than 10 staff members</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Already generating consistent profit</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Comprehensive Start-Up Assistance</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Business Strategy Support</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Community Access</li>
                  </ul>
                  <a href="/get-started" class="w-100 btn btn-lg btn-outline-success">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
  ` }) %>
  